# Visual Studio
.vs/
*.user
*.suo

# Build files
bin/
obj/

# Visual Studio Code
.vscode/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# OS files
Thumbs.db
.DS_Store

# Local secrets
.env
.env.*
!.env.example
